# Assignment README file
README2.md

# Assignment images
assignment-images/

# Mac/OSX attributes/metadata info file
.DS_Store

# Dependency directories
node_modules/

# dotenv environment variables file
.env